<div class="widget-container">
    <div class="widget grey">
      <div class="icon">
        <fa-icon [icon]="faBriefcase"></fa-icon>
      </div>
      <div class="value">
        <div class="top">700</div>
        <div class="bottom">Total Contracts</div>
      </div>
    </div>
    <div class="widget maroon">
      <div class="icon">
        <fa-icon [icon]="faEnvelope"></fa-icon>
      </div>
      <div class="value">
        <div class="top">295</div>
        <div class="bottom">Request</div>
      </div>
    </div>
    <div class="widget yellow">
      <div class="icon">
        <fa-icon [icon]="faMoneyBill"></fa-icon>
      </div>
      <div class="value">
        <div class="top">30000000</div>
        <div class="bottom">Total Value</div>
      </div>
    </div>
  </div>